body{
    font-family:'Poppins',sans-serif;
    background:#f5f7fb;
}

.card{
    border-radius:18px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.btn{
    border-radius:10px;
}

.table{
    border-radius:12px;
    overflow:hidden;
}